#result {
    display:block;
    width:400px;
    height:200px;
  }
  
  #import {
    margin:10px 0;
  }

  table, th, td {
    border: 1px solid;
  }

  div {
    padding-right:10px;
    padding-top: 10px;
    padding-left:10px;
  }

body{
  overflow-x: hidden;  
}